* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

header {
    margin-top: 20px;
    text-align: center;
}

header h1 {
    font-weight: 400;
}

header h4 {
    font-weight: 200;
    margin-top: 10px;
}

.container {
    margin-top: 30px;
    text-align: center;
    margin: 10px auto;
}

.container #weeklyInput {
    width: 350px;
    height: 20px;
    border: 1px #34495e solid;
    border-radius: 7px;
    padding: 4px;
}

.container #btn {
    margin-top: 10px;
    background-color: black;
    color: white;
    height: 20px;
    padding: 10px;
    font-size: 20px;
    border: 2px black solid;
    border-radius: 7px;
    padding-bottom: 30px;
    width: 25%;
    font-weight: 300;
}

.container #btn:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}


.output-container {
    text-align: center;
    margin: 20px auto;
}

.output-container li {
    line-height: 30px;
    padding: 10px;
    margin-right: 20%;
    margin-left: 20%;
    list-style: none;
    text-align: center;
    font-weight: 200;
}

.output-container li:nth-child(odd) {
    background-color: lightgray;
}